body{
    font-family: 'Roboto', sans-serif;
}
.site-name-container p{
    color:#fff;
    opacity: 0.7;
}

header{
    padding:10px;
    display:block;
    background: #026db9;
    padding-top: 12px;
    text-align: center;
    
    box-shadow: 6px 7px 9px -3px rgba(0,0,0,0.7);
-webkit-box-shadow: 6px 7px 9px -3px rgba(0,0,0,0.7);
-moz-box-shadow: 6px 7px 9px -3px rgba(0,0,0,0.7);
}
header a{
    font-size: 50px;
    text-decoration: none;
    color: #fff;
}
nav{
    background: #074f81 ;
    
}
nav a{
    font-size: 15px;
    display: inline-block;
    padding: 8px;
    margin:0 40px;
}
nav a:hover{
    /* background:#0a3858 ; */
    color:rgba(19, 18, 18, 0.7)
    /* transform: scale(1.5); */
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}ul li{
    clear: both;
    /* margin-top: 15px; */
}
.container{
    width:1200px;
    margin:0 auto;
}
h1{
    text-align: center;
    text-shadow: 3px 4px 5px rgba(149, 150, 150, 1);
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-family: 'Open Sans', sans-serif;
    padding-top: 35px;
}
.img{
    float:left;
    width: 30%;
}
.info{
    float:left;
    width: 70%;
    font-size: 13px;
    color:#444;
}
.info ul{
    list-style-type: initial;
}

.button a{
    box-shadow: 6px 7px 9px -3px rgba(0,0,0,0.7);
    margin-top: 20px;
    padding:10px 15px;
    background: #026db9;
    color:#fff;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    backface-visibility: hidden;
}



.button a:hover{
    background: #064979;
    color: #fff;
    transform: scale(1.02);
}
footer{
    float: left;
    width:100%;
    background: rgba(100, 100, 10, 0.3);
    color: rgb(255, 245, 270);
    /* opacity:0.7; */
    margin-top: 20px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
}
footer p{
    text-align: center;
}
footer h1{
    text-align: center;
}

.list-items {
    /* float: left; */
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
    margin-left: 62px;
    

}
